/* Global Styles */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Main Styles */
main {
    margin: 10%;
}

.flex-container {
    display: flex;
}

.section {
    background: lightgrey;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

.profile-container {
    width: 30%;
    height: 300px;
}

.info-container {
    width: 70%;
}