/* Global Styles */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Noto Sans HK', sans-serif;
}

a {
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    color: black;
}

/* Main Styles */
main {
    margin: 10%;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.section {
    background: lightgrey;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}


@media (min-width: 900px) {
    .info-container {
        width: 70%;
    }
}
